
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/**

    Global

**/

html, body, #root{
    height: 100%;
}
body{
    background-color: #fff;
}
h1{
    font-family: "Permanent Marker", serif;
}

/**

    Home

**/
.home-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.river-bar{
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
    background-image: url(../assets/bg.jpg);
    background-position: center center;
    background-size: cover;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.banner video{
    position: absolute; 
    bottom: 0; right: 0;
    object-fit: cover;
}

.home-page h1{
    width: 100%;
    background: #fff;
    font-size: 8em;
    text-align: center;
    mix-blend-mode: screen;
    font-weight: bold;
}
.home-page h2{
    font-family: "Raleway", serif;
    font-size: 2em;
    color: #797979;
}
.home-page h3{
    font-family: "Raleway", serif;
    font-size: .7em;
    color: #adadad;
}
.initial-search-container{
    margin: 50px 0;
}
.initial-search-container input{
    font-size: 1.5em;
}
.initial-search-container button{
    font-size: 1.5em;
    height: 43px;
    padding: 0 9px;
}


/**

    Search Design

**/ 

.search-container form{
    display: flex;
}
.search-container input{
    font-family: "Raleway", serif;
    border: 0;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #1A2980;
    border-right: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #cadee6;
    transition: border 0.3s ease;
}
.search-container input:focus{
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #26D0CE;
    border-right: none;
}
.search-container button{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    background-size: 200% auto;
    transition: background 0.3s ease;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-container button:hover{
    background-position: right center; 
}

/** 

    Top Bar

**/
.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5em;
    font-family: "Raleway", serif;
}
.nav-container h1{
    font-size: 2.5rem;
    color: #6b6d85;
}
.search-container{
    margin: 10px 0;
}
.toggle-container{
    display: flex;
    position: absolute;
    top: .5em; right: .5em;
    z-index: 5;
    font-size: 1rem;
    line-height: 2.5rem;
    cursor: pointer;
    align-items: center;
}
.toggle-container .cart-total-circle{
    display: flex;
    background: #6b6d85;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: background-color 0.5s ease;
}
.toggle-container .open-cart{
    font-size: 1.5rem;
    color: #000;
    transition: color 0.5s ease;
}
.toggle-container:hover .cart-total-circle{
    background: #26D0CE;
}
.toggle-container:hover .open-cart{
    color: #26D0CE;
}

/**

    Cart

**/
.cart-total-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out, visibility .5s;
    z-index: 10;
    overflow-y: scroll;
}
.cart-total-container.show{
    visibility: visible;
    opacity: 1;
}
.cart-total-container h1{
    display: flex;
    height: 1.45em;
    align-items: center;
    justify-content: center;
}
.close-cart{
    position: absolute;
    top: .6em; right: .5em;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
.close-cart:hover{
    color: #26D0CE;
}
.delete-item{
    cursor: pointer;
}
.item-list{
    padding: 0 7.5%;
}
.item-list li{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.item-list span{
    flex: 1;
}
.item-list li>*{
    padding: 0 5px;
}
.item-list .item-image{
    text-align: center;
}
.item-list .item-name{
    flex: 5;
}
.item-list .item-price-total{
    text-align: right;
}
.item-list input{
    width: 35px;
    text-align: right;
}
.item-list img{
    height: 50px;
}
.item-list .delete-item{
    transition: color 0.3s ease;
}
.item-list .delete-item:hover{
    color: #26D0CE;
}
.total-holder{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 7.5%;
    font-family: "Raleway", serif;
}
.total-holder>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.total-holder button{
    background-color: #1A2980;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.5rem;
    transition: color 0.5s ease, background-color 0.5s ease;
}
.total-holder button:hover{
    background-color: #26D0CE;
}
.cart-total{
    margin: 1em 0;
    font-weight: bold;
    font-size: 1.25rem;
}
.cta-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cta-holder button{
    margin-top: 1em;
    padding: 1em;
    background-color: #1A2980;
    color: #fff;
    border: 0;
    font-family: "Raleway", serif;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.cta-holder button:hover{
    background-color: #26D0CE;
}
.cart-cta{
    font-size: 2rem;
    line-height: 4rem;
    font-family: "Raleway", serif;
    text-align: center;
}


/** 

    Shop Page

**/
.shop-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.shop-container .shop-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex: 1 1 25%;
    max-width: 16em;
    margin: 1em;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 20px;
    border: 1px solid lightblue;
    background-color: #f7fdff;
    font-family: "Raleway", serif;
    min-width: 10em;
}
.shop-container .shop-item img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.shop-container .shop-item .product-title{
    margin: .5em 0;
    line-height: 1.25em;
    font-weight: bold;
}
.shop-container .shop-item button{
    margin-top: 1em;
    padding: 1em;
    background-color: #1A2980;
    color: #fff;
    border: 0;
    font-family: "Raleway", serif;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.shop-container .shop-item button:hover{
    background-color: #26D0CE;
}
.shop-item span input{
    display: block;
}


