
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/**

    Global

**/

html, body, #root{
    height: 100%;
}
body{
    background-color: #fff;
}
h1{
    font-family: "Permanent Marker", serif;
}

/**

    Home

**/
.home-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.river-bar{
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
    background-image: url(../assets/bg.jpg);
    background-position: center center;
    background-size: cover;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.banner video{
    position: absolute; 
    bottom: 0; right: 0;
    object-fit: cover;
}

.home-page h1{
    width: 100%;
    background: #fff;
    font-size: 8em;
    text-align: center;
    mix-blend-mode: screen;
    font-weight: bold;
}
.home-page h2{
    font-family: "Raleway", serif;
    font-size: 2em;
    color: #797979;
}
.home-page h3{
    font-family: "Raleway", serif;
    font-size: .7em;
    color: #adadad;
}
.initial-search-container{
    margin: 50px 0;
}
.initial-search-container input{
    font-size: 1.5em;
}
.initial-search-container button{
    font-size: 1.5em;
    height: 43px;
    padding: 0 9px;
}


/**

    Search Design

**/ 

.search-container form{
    display: flex;
}
.search-container input{
    font-family: "Raleway", serif;
    border: 0;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #1A2980;
    border-right: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #cadee6;
    transition: border 0.3s ease;
}
.search-container input:focus{
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #26D0CE;
    border-right: none;
}
.search-container button{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    background-size: 200% auto;
    transition: background 0.3s ease;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-container button:hover{
    background-position: right center; 
}

/** 

    Top Bar

**/
.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Raleway", serif;
}
.nav-container h1{
    font-size: 2.5rem;
    color: #6b6d85;
}
.search-container{
    margin: 10px 0;
}
.toggle-container{
    display: flex;
    position: absolute;
    top: 0; right: 5px;
    z-index: 5;
    font-size: 1.5rem;
    line-height: 2.5rem;
    cursor: pointer;
}
.toggle-container .cart-total-circle{
    display: flex;
    background: #6b6d85;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.cart-total-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out, visibility .5s;
    z-index: 10;
}
.cart-total-container.show{
    visibility: visible;
    opacity: 1;
}
.close-cart{
    position: absolute;
    top: 0; right: 0;
    cursor: pointer;
}
.delete-item{
    cursor: pointer;
}
.item-list input{
    width: 35px;
    text-align: right;
}


/** 

    Shop Page

**/
.shop-container ul{
    display: flex;
    flex-wrap: wrap;
}
.shop-container ul li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex: 1 1 25%;
}
.shop-container ul li img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.shop-item span input{
    display: block;
}

